; base registry for installs (public packages)
registry=https://registry.npmjs.org/

; scope defaults to local Verdaccio (safeguard for unintended releases)
@quojs/:registry=http://localhost:4873/

; DX: pin exact versions
save-exact=true

; installs don’t need auth for public pkgs
always-auth=false
